nav {
  background-color: white;
  box-shadow: 0px 2px 4px #9cadf2;
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 3rem;
  top: 0;
  right: 0;
  left: 0;
}
